<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Proyecto</title>
    <link rel="stylesheet" href="../static/styles/main.css">
    <!-- Icons Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body style="position: relative;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a href="/" class="navbar-brand">Fauna y flora</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="#boyaca" class="nav-link active" aria-current="page">Boyacá</a>
                        </li>
                        <li class="nav-item">
                            <a href="#cundinamarca" class="nav-link">Cundinamarca</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Seccion de Boyacá -->
    <section id="boyaca">

        <div id="carouselBoyaca" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselBoyaca" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselBoyaca" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselBoyaca" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselBoyaca" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/img/slider1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/img/slider2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/img/slider3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/img/slider4.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBoyaca"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBoyaca"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </section>


    <section class="bg-success py-5">

        <div class="container text-light">
            <!-- Intrpoducción -->
            <div class="text-center display-5 py-2">
                <h1> <i class="bi bi-tree-fill"></i>Boyacá<i class="bi bi-tree-fill"></i></h1>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 m-auto">
                    <div class="text-wrap mx-auto">
                        <h2>Biodiverisadad</h2>
                        <p>
                            La biodiversidad en Boyacá, Colombia, es notable debido a la variedad de ecosistemas
                            presentes
                            en
                            esta
                            región.
                            Boyacá, ubicada en la región andina de Colombia, cuenta con una topografía diversa que
                            va
                            desde
                            altiplanos
                            hasta valles profundos, lo que contribuye a una gran diversidad de flora y fauna.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="https://plazacapital.co/media/k2/items/cache/9f7f60eb43f18615392c3cdff7d458e2_XL.jpg"
                        class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 300px; width: 300px;"
                        alt="...">
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-bone my-auto">
        <div class="container">
            <div class="row">
                <!-- Flora -->
                <div class="col-12 col-lg-6">
                    <div>
                        <h2 class="text-center">Flora</h2>
                        <p>
                            Boyacá alberga una amplia variedad de especies vegetales, desde especies de páramo hasta
                            bosques de niebla y
                            vegetación de tierras bajas. En los páramos, se pueden encontrar especies como el frailejón,
                            una planta
                            emblemática de estos ecosistemas andinos. Los bosques de niebla, por otro lado, son hogar de
                            una gran
                            diversidad de plantas epífitas, musgos y helechos.
                        </p>
                    </div>
                    <div class="py-2">
                        <img src="https://img.freepik.com/vector-premium/ilustracion-planta-frailejon-diseno-plano_23-2150041932.jpg?w=740"
                            class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 300px;" alt="...">
                    </div>
                </div>
                <!-- Fauna -->
                <div class="col-12 col-lg-6">
                    <div>
                        <h2 class="text-center">Fauna</h2>
                        <p>
                            Boyacá es hogar de una variedad de especies animales, incluyendo mamíferos, aves, anfibios y
                            reptiles. Entre
                            los mamíferos se pueden encontrar especies como el oso de anteojos, el puma, el ocelote, el
                            tapir y una
                            variedad de especies de murciélagos. En cuanto a aves, Boyacá es un lugar de paso y
                            residencia para numerosas
                            especies migratorias y endémicas, como el cóndor de los Andes, el tucán andino y el colibrí
                            paramuno.
                        </p>
                    </div>
                    <div class="py-2 ">
                        <img src="https://png.pngtree.com/png-clipart/20230930/original/pngtree-hummingbird-colibri-png-image_13023777.png"
                            class="rounded rounded-circle mx-auto d-block img-fluid bg-img" style="height: 300px;"
                            alt="colibri">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-blue-sky">
        <div class="container aling-items-center">

            <div class="py-5">
                <div class="text-center display-5 py-2">
                    <h1> <i class="bi bi-tree-fill"></i>Parques<i class="bi bi-tree-fill"></i></h1>
                </div>
                <div class="text-center mx-auto">
                    <p class="fs-4">
                        Explora los parques naturales de Boyacá y descubre un mundo de paisajes impresionantes,
                        biodiversidad asombrosa y la tranquilidad que solo la naturaleza puede ofrecer.
                    </p>
                </div>
            </div>

            <div class="accordion" id="accordionBoyaca">
                <div class="bg-body-according">
                    <h2 class="accordion-header" id="headingOneParkBoyaca">
                        <button class="accordion-button-personalized" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOneParkBoyaca" aria-expanded="true" aria-controls="collapseOneParkBoyaca">
                            Parque
                            Natural Pisba
                        </button>
                    </h2>
                    <div id="collapseOneParkBoyaca" class="accordion-collapse collapse show" aria-labelledby="headingOneParkBoyaca"
                        data-bs-parent="#accordionBoyaca">
                        <div class="accordion-body">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-4">
                                    <img src="https://www.parquesnacionales.gov.co/wp-content/uploads/2022/07/pnn-pisba.png"
                                        class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 200px"
                                        alt="">
                                </div>
                                <div class="col-12 col-md-8">
                                    <p class="fst-italic"><i class="bi bi-geo-alt"></i> Boyacá, Casanare</p>
                                    <p>
                                        Ubicado en el municipio de Pisba, este parque nacional protege una extensa
                                        área de páramo, un ecosistema
                                        único de alta montaña que alberga una gran diversidad de flora y fauna,
                                        incluyendo especies endémicas como
                                        el frailejón. Es un lugar ideal para realizar caminatas y observación de
                                        aves.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="bg-body-according">
                    <h2 class="accordion-header" id="headingTwoParkBoyaca">
                        <button class="accordion-button-personalized collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwoParkBoyaca" aria-expanded="false" aria-controls="collapseTwoParkBoyaca">
                            Guanentá Alto
                            Río Fonce
                        </button>
                    </h2>
                    <div id="collapseTwoParkBoyaca" class="accordion-collapse collapse" aria-labelledby="headingTwoParkBoyaca"
                        data-bs-parent="#accordionBoyaca">
                        <div class="accordion-body">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-4">
                                    <img src="https://www.parquesnacionales.gov.co/wp-content/uploads/2022/07/sff-guanenta.png"
                                        class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 200px"
                                        alt="colibri">
                                </div>
                                <div class="col-12 col-md-8">
                                    <p class="fst-italic"><i class="bi bi-geo-alt"></i> Boyaca, Santander</p>
                                    <p>
                                        Ubicado en el límite entre Boyacá y Santander, este santuario protege un
                                        importante corredor biológico
                                        que conecta los Andes con la región de la Orinoquía. Es conocido por su
                                        impresionante paisaje de cañones y
                                        mesetas, así como por su diversidad de aves y mamíferos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-bone py-5">
        <div class="container">

            <ul class="nav nav-tabs" id="myTabBoyaca" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="geografia-tab-boyaca" data-bs-toggle="tab" data-bs-target="#geografia"
                        type="button" role="tab" aria-controls="geografia" aria-selected="true">Geografia</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="estadisticas-tab-boyaca" data-bs-toggle="tab" data-bs-target="#estadisticas"
                        type="button" role="tab" aria-controls="estadisticas"
                        aria-selected="false">estadisticas</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="estadisticas2-tab-boyaca" data-bs-toggle="tab" data-bs-target="#estadisticas2"
                        type="button" role="tab" aria-controls="estadisticas2" aria-selected="false">estadisticas
                        2</button>
                </li>

            </ul>

            <!-- Geografia -->
            <div class="tab-content py-5" id="myTabContentBoyaca">
                <div class="tab-pane fade show active" id="geografia" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row mt-3">
                        <div class=" row align-items-center">
                            <div class="col-12 col-lg-6 col-md-6">
                                <ul>
                                    <li><strong>Ubicación:</strong> Limita al norte con Santander y Norte de
                                        Santander, al este con Arauca,
                                        Casanare y Vichada, al
                                        sur con Cundinamarca y al oeste con Caldas, Antioquia y Santander.</li>
                                    <li><strong>Topografía:</strong> Presenta una variedad topográfica, desde
                                        montañas hasta valles, con la
                                        Cordillera Oriental atravesándola de sur a norte.</li>
                                    <li><strong>Ecosistemas:</strong> Alberga diversos ecosistemas como páramos,
                                        bosques de niebla, valles
                                        interandinos, ríos y lagunas.</li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="content-center-map text-center">
                                    <div class="embed-responsive embed-responsive-21by9">
                                        <iframe class="embed-responsive-item"
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2032138.954474807!2d-75.80788286377432!3d5.852608300721673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e69a475f890a283%3A0xffe1255b64bc9ff7!2zQm95YWPDoQ!5e0!3m2!1ses-419!2sco!4v1715538388176!5m2!1ses-419!2sco"
                                            style="border:0; height: 300px; width: 100%;"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Estadisticas 1 -->
                <div class="tab-pane fade" id="estadisticas" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row mt-3">
                        <div class="col-12 col-lg-6 m-auto">
                            <div class="text-wrap mx-auto">
                                <h2>Estadisticas</h2>
                                <p>
                                    La biodiversidad en Boyacá, Colombia, es notable debido a la variedad de ecosistemas
                                    presentes
                                    en
                                    esta
                                    región.
                                    Boyacá, ubicada en la región andina de Colombia, cuenta con una topografía diversa
                                    que
                                    va
                                    desde
                                    altiplanos
                                    hasta valles profundos, lo que contribuye a una gran diversidad de flora y fauna.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <img src="https://fastly.picsum.photos/id/731/400/400.jpg?hmac=cHCPpaJ5Hd43MOgoP-jsvsPt28qmyOhjL_MIuSXIyQU"
                                class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 300px;"
                                alt="...">
                        </div>
                    </div>
                </div>


                <!-- Estadisticas 2 -->
                <div class="tab-pane fade" id="estadisticas2" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row mt-3">
                        <div class="col-12 col-lg-6 m-auto">
                            <div class="text-wrap mx-auto">
                                <h2>Estadisticas 2</h2>
                                <p>
                                    La biodiversidad en Boyacá, Colombia, es notable debido a la variedad de ecosistemas
                                    presentes
                                    en
                                    esta
                                    región.
                                    Boyacá, ubicada en la región andina de Colombia, cuenta con una topografía diversa
                                    que
                                    va
                                    desde
                                    altiplanos
                                    hasta valles profundos, lo que contribuye a una gran diversidad de flora y fauna.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <img src="https://fastly.picsum.photos/id/731/400/400.jpg?hmac=cHCPpaJ5Hd43MOgoP-jsvsPt28qmyOhjL_MIuSXIyQU"
                                class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 300px;"
                                alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin de seccion de Boyacá -->

    <!-- Seccion de Cundinamarca -->
    <section id="cundinamarca">
        <div id="carouselCundinamarca" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselCundinamarca" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselCundinamarca" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselCundinamarca" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselCundinamarca" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/img/slider1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/img/slider2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/img/slider3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/img/slider4.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCundinamarca"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCundinamarca"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>

    <section class="bg-success py-5">

        <div class="container text-light">
            <!-- Intrpoducción -->
            <div class="text-center display-5 py-2">
                <h1> <i class="bi bi-tree-fill"></i>Cundinamarca<i class="bi bi-tree-fill"></i></h1>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 m-auto">
                    <div class="text-wrap mx-auto">
                        <h2>Biodiverisadad</h2>
                        <p>
                            Cundinamarca, un departamento diverso y estratégicamente ubicado en Colombia, alberga una
                            flora variada
                            influenciada por una amplia gama de ecosistemas, desde los páramos de alta montaña hasta los
                            valles fértiles y
                            las tierras bajas.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="https://img.freepik.com/foto-gratis/gran-cantidad-plantaciones-palmetto-enano-verde-hermoso-cielo-nublado_181624-14643.jpg?t=st=1715551789~exp=1715555389~hmac=aef08d3b70bb6125ec5d9ae1b3eb4df8b031c6f23e69b12615800cc2ebfb5949&w=1380"
                        class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 300px; width: 300px;"
                        alt="...">
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-bone my-auto">
        <div class="container">
            <div class="row">
                <!-- Flora -->
                <div class="col-12 col-lg-6">
                    <div>
                        <h2 class="text-center">Flora</h2>
                        <p>
                            Cundinamarca, un departamento diverso y estratégicamente ubicado en Colombia, alberga una
                            flora variada
                            influenciada por una amplia gama de ecosistemas, desde los páramos de alta montaña hasta los
                            valles fértiles y
                            las tierras bajas
                        </p>
                    </div>
                    <div class="py-2">
                        <img src="https://img.freepik.com/fotos-premium/aquarela-flor-orquidea-tropical-fondo-blanco-ilustracion_1085-3021.jpg?w=740"
                            class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 300px;" alt="...">
                    </div>
                </div>
                <!-- Fauna -->
                <div class="col-12 col-lg-6">
                    <div>
                        <h2 class="text-center">Fauna</h2>
                        <p>
                            La fauna de Cundinamarca es variada y está influenciada por la diversidad de ecosistemas
                            presentes en el
                            departamento, se encuentran especies como el venado de páramo, la perdiz colombiana y el
                            conejo de páramo.
                            Estos hábitats también son importantes para aves como el cóndor de los Andes, el águila real
                            y la curí.
                        </p>
                    </div>
                    <div class="py-2">
                        <img src="https://static.vecteezy.com/system/resources/previews/016/756/715/non_2x/andean-condor-bird-free-vector.jpg"
                            class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 300px;" alt="...">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-blue-sky">
        <div class="container aling-items-center">

            <div class="py-5">
                <div class="text-center display-5 py-2">
                    <h1> <i class="bi bi-tree-fill"></i>Parques<i class="bi bi-tree-fill"></i></h1>
                </div>
                <div class="text-center mx-auto">
                    <p class="fs-4">
                        Visita los parques naturales de Cundinamarca y sumérgete en la belleza de sus paisajes verdes,
                        cascadas majestuosas y senderos llenos de vida, donde cada paso te conecta con la naturaleza en
                        su estado más puro.
                    </p>
                </div>
            </div>

            <div class="accordion" id="accordionCundinamarca">
                <div class="bg-body-according">
                    <h2 class="accordion-header" id="headingOneParkCundinamarca">
                        <button class="accordion-button-personalized" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOneParkCundinamarca" aria-expanded="true" aria-controls="collapseOneParkCundinamarca">
                            Parque Natural Regional Chingaza
                        </button>
                    </h2>
                    <div id="collapseOneParkCundinamarca" class="accordion-collapse collapse show" aria-labelledby="headingOneParkCundinamarca"
                        data-bs-parent="#accordionCundinamarca">
                        <div class="accordion-body">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-4">
                                    <img src="https://www.parquesnacionales.gov.co/wp-content/uploads/2023/08/emblema_chingaza.png"
                                        class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 200px"
                                        alt=" ...">
                                </div>
                                <div class="col-12 col-md-8">
                                    <p class="fst-italic"><i class="bi bi-geo-alt"></i>Cundinamarca, Meta</p>
                                    <p>
                                        Este parque protege una vasta extensión de páramo y bosque altoandino en la
                                        Cordillera Oriental. Es
                                        conocido por su importancia en la regulación del agua y por ser hábitat de
                                        especies emblemáticas como el
                                        oso de anteojos y el cóndor de los Andes.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="bg-body-according">
                    <h2 class="accordion-header" id="headingTwoParkCundinamarca">
                        <button class="accordion-button-personalized collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwoParkCundinamarca" aria-expanded="false" aria-controls="collapseTwoParkCundinamarca">
                            Parque Nacional Natural Sumapaz
                        </button>
                    </h2>
                    <div id="collapseTwoParkCundinamarca" class="accordion-collapse collapse" aria-labelledby="headingTwoParkCundinamarca"
                        data-bs-parent="#accordionCundinamarca">
                        <div class="accordion-body">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-4">
                                    <img src="https://www.parquesnacionales.gov.co/wp-content/uploads/2023/07/sumapaz.png"
                                        class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 200px"
                                        alt=" ...">
                                </div>
                                <div class="col-12 col-md-8">
                                    <p class="fst-italic"><i class="bi bi-geo-alt"></i> Cundinamarca, Meta</p>
                                    <p>
                                        Es el área protegida más grande de Colombia y alberga el páramo más grande del
                                        mundo. Este ecosistema es
                                        vital para la regulación hídrica y es hogar de una gran diversidad de flora y
                                        fauna, incluyendo especies
                                        endémicas y en peligro de extinción.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-bone py-5">
        <div class="container">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="geografia-tab" data-bs-toggle="tab"
                        data-bs-target="#geografiaCundinamarca" type="button" role="tab"
                        aria-controls="geografiaCundinamarca" aria-selected="true">Geografia</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="estadisticas-tab-cundinamarca" data-bs-toggle="tab"
                        data-bs-target="#estadisticasCundinamarca" type="button" role="tab"
                        aria-controls="estadisticasCundinamarca" aria-selected="false">estadisticas</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="estadisticas2-tab-cundinamarca" data-bs-toggle="tab"
                        data-bs-target="#estadisticasCundinamarca2" type="button" role="tab"
                        aria-controls="estadisticasCundinamarca2" aria-selected="false">estadisticas
                        2</button>
                </li>
            </ul>

            <!-- Geografia -->
            <div class="tab-content py-5" id="myTabContentCundinamarca">
                <div class="tab-pane fade show active" id="geografiaCundinamarca" role="tabpanel"
                    aria-labelledby="home-tab">
                    <div class="row mt-3">
                        <div class=" row align-items-center">
                            <div class="col-12 col-lg-6 col-md-6">
                                <ul>
                                    <li><strong>Ubicación:</strong> Limita al norte con Santander y Norte de
                                        Santander, al este con Arauca,
                                        Casanare y Vichada, al
                                        sur con Cundinamarca y al oeste con Caldas, Antioquia y Santander.</li>
                                    <li><strong>Topografía:</strong> Presenta una variedad topográfica, desde
                                        montañas hasta valles, con la
                                        Cordillera Oriental atravesándola de sur a norte.</li>
                                    <li><strong>Ecosistemas:</strong> Alberga diversos ecosistemas como páramos,
                                        bosques de niebla, valles
                                        interandinos, ríos y lagunas.</li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 col-md-6">
                                <div class="content-center-map text-center">
                                    <div class="embed-responsive embed-responsive-21by9">
                                        <iframe class="embed-responsive-item"
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1017857.3385454544!2d-74.54097067114935!3d4.769050195126297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f28eb1616af2b%3A0x933cbcb5fad108ed!2sCundinamarca!5e0!3m2!1ses-419!2sco!4v1715545134960!5m2!1ses-419!2sco"
                                            style="border:0; height: 300px; width: 100%;"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Estadisticas 1 -->
                <div class="tab-pane fade" id="estadisticasCundinamarca" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row mt-3">
                        <div class="col-12 col-lg-6 m-auto">
                            <div class="text-wrap mx-auto">
                                <h2>Estadisticas</h2>
                                <p>
                                    La biodiversidad en Boyacá, Colombia, es notable debido a la variedad de ecosistemas
                                    presentes
                                    en
                                    esta
                                    región.
                                    Boyacá, ubicada en la región andina de Colombia, cuenta con una topografía diversa
                                    que
                                    va
                                    desde
                                    altiplanos
                                    hasta valles profundos, lo que contribuye a una gran diversidad de flora y fauna.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <img src="https://fastly.picsum.photos/id/731/400/400.jpg?hmac=cHCPpaJ5Hd43MOgoP-jsvsPt28qmyOhjL_MIuSXIyQU"
                                class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 300px;"
                                alt="...">
                        </div>
                    </div>
                </div>


                <!-- Estadisticas 2 -->
                <div class="tab-pane fade" id="estadisticasCundinamarca2" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row mt-3">
                        <div class="col-12 col-lg-6 m-auto">
                            <div class="text-wrap mx-auto">
                                <h2>Estadisticas 2</h2>
                                <p>
                                    La biodiversidad en Boyacá, Colombia, es notable debido a la variedad de ecosistemas
                                    presentes
                                    en
                                    esta
                                    región.
                                    Boyacá, ubicada en la región andina de Colombia, cuenta con una topografía diversa
                                    que
                                    va
                                    desde
                                    altiplanos
                                    hasta valles profundos, lo que contribuye a una gran diversidad de flora y fauna.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <img src="https://fastly.picsum.photos/id/731/400/400.jpg?hmac=cHCPpaJ5Hd43MOgoP-jsvsPt28qmyOhjL_MIuSXIyQU"
                                class="rounded rounded-circle mx-auto d-block img-fluid" style="height: 300px;"
                                alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin de seccion de CUndinamarca -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>